<nav class="breadcrumbs" style="margin-left: 10px;">
  <a href="{{ routes.root_url }}" class="pink" title="{{'collections.breadcrumbs.back_to_home' | t }}">
    {{- 'collections.breadcrumbs.home' | t -}}
  </a>

  {%- if template contains 'collection' -%}
    <span class="breadcrumbs__sep">/</span>
    <a class="maroon" href="{{ routes.collections_url }}">
      {{- 'collections.breadcrumbs.collections' | t -}}
    </a>
    <span class="breadcrumbs__sep">/</span>

    {%- if collection.handle -%}
      <span class="breadcrumbs__current">
        {%- if collection.handle == 'all' -%}
          {{- 'collections.breadcrumbs.default_collection' | t -}}
        {%- else -%}
          {{- collection.title -}}
        {%- endif -%}
      </span>
    {%- endif -%}
  {%- endif -%}

  {%- if template contains 'product' -%}
    <span class="breadcrumbs__sep">/</span>

    {%- assign product_collection = collection | default: product.collections[0] -%}
    {%- if product_collection.handle != blank -%}
    <p class="maroon" style="margin: 3px;">   {{- product_collection.title | link_to: product_collection.url -}} </p>
      <span class="breadcrumbs__sep">/</span>
    {%- endif -%}

    {%- if product.handle -%}
      <p class="maroon breadcrumbs__current" style="
      margin: 3px; margin-left: 0 !important;
      font-size: 14px;color: #6C1D45 ; 
  ">{{ product.title | strip_html | escape }}</p>
    {%- endif -%}
  {%- endif -%}
</nav>