{{ 'collapsible-content.css' | asset_url | stylesheet_tag }}

{%- assign article = block.settings.article -%}

<style>

  .cards-{{section.id}} {
    padding-top: {{section.settings.padding_top}}px;
    padding-bottom: {{section.settings.padding_bottom}}px;
  }
 .img-{{section.id}}, .img-{{section.id}} img {
    min-width: 100% !important;
    object-fit: cover;
  }
  .icn {
    margin-left: -10px;
  }

  .articlecontents-{{section.id}} {
box-shadow: -6px 7px 20px 0px #d9d2d5eb; 
    min-width: 90%;
    float: left;
    padding: 40px;
    padding-left: 40px;
    margin-top: -20px;
    /* border-radius: 5px; */
}
 
  {% if section.settings.numberofcolumns == '360' %}
    .cards-{{section.id}}  .multicolumncard__image {
    width: 360px !important;
    height: 360px;
  }
   .cards-{{section.id}} p 
   {
    width: 320px !important;
 
  }
  {% endif %}

    {% if section.settings.numberofcolumns == '260' %}
  .cards-{{section.id}}    .multicolumncard__image {
    width: 260px;
    height: 260px;
  }   .cards-{{section.id}} p 
   {
    /* width: 260px !important; */
 
  }

  
  {% endif %}
    .cards-{{section.id}} p {
      margin: 0;
      min-width: 100%;
    }
 
  .center {
    text-align: center; 
    color: {{section.settings.heading_color}};
  }
  .multicolumncard__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 
  }
 
  .card-link {
    text-decoration: none;
   color:#EB6FBD !important;
    text-align: center !important;
    word-break: keep-all;
    width: 100% !important;
    text-align: left;
  }
 
  .texttopcont {
    text-align: left;
    margin-left: 2%;
  }
    .card  * {
      display: flex;
      flex-direction: column;
      width: 260px; 
      margin: auto;
      border-radius: 3px;
      word-break: break-all;
      margin-top: {{section.settings.spacing_cards}}px;
   }
   .additional-wrapper {
     width: 100%;
   }
    .lefti {
      text-align:left;
      margin-top: 0;
      width: 100%;
    }

    .icn 
    {
    margin-left: -10px !important;}
  @media only screen and (max-width: 998px) {
     .newestcards-{{section.id}} {
      padding-top: 10px;
     }
     .blogsall {
      display: flex !important;
      flex-direction: column !important;
     }

     .articlecontents-{{section.id}} {
      text-align: left !important;
     }
     .card  {
      height: 200px !important;
     }
     .healers-filter__dropdown {
      display: none !important;
     }
      .card   * {
      /* width: 160px !important; */
      text-align: left !important;
    }
    .multicolumncard__image {
    width: 100%;
    height: 160px !important;
    object-fit: cover;
  }
    
    .additional-wrapper {
    margin-bottom: 40px !important;}
  }
     
    .articlecontents-{{section.id}} {
          background: white;
    margin-top:-100px;
      min-height: 205px;
    }
  .leftlink,
    .time, .time * {    display: flex;
    text-align: left;
    text-align-last: left;
    width: 100% !important;
    align-items: center;
    margin: 0;
    padding:0;
    flex-direction: row;
  }

  .leftlink, a.leftlink {
    text-align: left;
    color:#6c1d45;
    margin-top: 20px;
    font-weight: 600;

  }
 .title * {
   color: #EB6FBD;
 }
 .healers-filter__dropdown {
    border: 1px solid #6C1D45;
    border-radius: 60px;
    padding: 10px 20px;
    font-weight: bold;
    color: #6C1D45;
}

 .collapsible-content__header {
    display: flex;
    margin: auto !important;
    justify-content: space-around;
  }

  .time img,   .time .gaia-image {
    height: 50px;
    width: 50px !important;
    object-fit: contain;
    margin: 0;
    padding: 0;
  }
  </style>
<div class="newestcards-{{section.id}} " style="background-color: {{section.settings.section_bg}};"> 
<div class="cards-{{section.id}} page-width">
    <div class="collapsible-content__header  " style="text-align: center; margin: auto !important;">
          {%- if section.settings.caption != blank -%}
            <p class="caption-with-letter-spacing" style="text-align: center; margin: auto !important; color: {{section.settings.heading_color}}"> {{ section.settings.caption | escape }}</p>
          {% endif %}
      
   
  {% if section.settings.heading %}  <div class="topcont"  style="display:flex;flex-wrap: wrap;
      max-width: 1400px;
    width: 94%;
  justify-content: space-between;
    align-items: center;"> 
    <div class="texttopcont" > 
 <h2 class=" ff-uf green u-case mb-10" style="padding: 0; margin: 0;" > 
  {{ section.settings.heading |escape }} 
</h2> 
<p class=" ff-uf green u-case mb-10 grayregular" style="max-width: 600px; text-align: left; padding:0">  
   {{section.settings.description}}  
  </p>
  </div> 
<div class="filters"> 
<div class="healers-filter-{{section.id}}">
  <select class="healers-filter__dropdown" id="category" name="category">
    <option disabled selected>Members Only</option>
    <option value="yoga">Members Only</option>
    <option value="meditation">Public</option>
  </select>


  <select class="healers-filter__dropdown" id="category" name="category">
              <option disabled selected>All Filters    </option>
              <option value="yoga">Podcast</option>
              <option value="meditation">Video</option>
              <option value="reiki">Blog</option>
            </select>
          </div>    
          </div> 
        </div>
        </div>
  {% endif %}

 
  <div class="cards-wrapper">
 

   {%- assign article = block.settings.article -%}

<ul class="blogsall" style="
max-width: 1400px;
width: 94%;">
  {%- for article in blog.articles -%}
    <li style="
    margin-bottom: 50px;
">
    <div class="additional-wrapper" style="
 
    background: {{section.settings.card_bg}};
    padding: 15px;
    margin: 0;
">
      <div class="card "> 
        {% if  article.image  != blank %} <div class="img-{{section.id}}" style="background:url('{{ article.image | img_url: 'master' }}');    background-size: cover;
        height: 100%;
        max-height: 280px;
        min-height: 280px;
        background-position: center;" "> 
         </div> {%else %}
         <div class="img-{{section.id}}" style="background:url('{{ article.image.src | img_url: 'master' }}'); 
    background-size: cover;height: 300px;" > 
   
            
            
            </div> 
{% endif %}  <div class="articlecontents-{{section.id}}">  
   <span class="time" style="color: rgba(28, 28, 28, 0.5); font-size:12px;">   
     
    {%if article.tags contains 'general'  %}
<div class="icn" style=" width: 50px !important;
">  
    {%render 'generalblog'%}</div>
  {%endif%}
       {%if article.tags contains 'podcast' %} 
<div class="icn" style="    width: 50px !important;
"> {%render 'podcasticn'%} </div>
{%endif%}    {%if article.tags contains 'video' %}
<div class="icn" style="    width: 50px !important;
"> {%render 'videoicn'%}</div>
{%endif%} 
                     
  {{ article.published_at | time_tag: format: 'date' }} 
  {%if article.tags contains 'customeronly'  %}
  <div class="icn" style=" width: 50px !important;
  ">  
      {%render 'lockedarticle'%}</div>
    {%endif%}
</span> 
            <h5 class="maroonbold" style="min-width:100%; color: #6C1D45; margin-bottom: 15px;">    {{article.title}}  </h5> 
        
       
      
        
        <p style="width: 100% !important;">
          {%- if article.excerpt.size > 0 -%}
         <p class="exc">   {{ article.excerpt | strip_html | truncate:130}}</p> 
          {%- else -%}
          <p class="exc">  {{ article.content | strip_html | truncate:130 }} </p>
          {%- endif -%}
        </p>

     
        {%if article.tags contains 'general' and   article.tags contains 'customeronly'   %}
       
        {%if customer %}

        <a href="{{article.url}}" class="leftlink"> Read Article</a>
        {% else %} 
        <div class="jointo" > 
        <a href="/account/login" class="leftlink">Read Article   </a>
        <p class="grayregular" style="
        font-size: 12px;padding-bottom: 0;">
        *Join the membership to read the article.</p>
        </div>
        {%endif%} 
        {%endif%}
      {%if article.tags contains 'podcast'  %}
      {%if article.tags contains 'customeronly'  %}
      {%if customer %}
      <a href="{{article.url}}" class="leftlink"> Listen Podcast</a>
      {%else%} 
      <div class="jointo" > 
      <a href="/account/login" class="leftlink">Listen Podcast </a>
      <p class="grayregular" style="
      font-size: 12px;padding-bottom: 0;">
      *Join the membership to listen the podcast</p>
      </div>
      {%endif%} {%endif%}
      {%endif%}
      {%if article.tags contains 'video'  %}
      {%if article.tags contains 'customeronly'  %}
      {%if customer %}
      <a href="{{article.url}}" class="leftlink"> Watch Video </a>
      {%else%} 
      <div class="jointo" > 
      <a href="/account/login" class="leftlink"> Watch Video </a>
      <p class="grayregular" style="
      font-size: 12px;padding-bottom: 0;">
      *Join the membership to watch the video</p>
      </div>
      {%endif%} {%endif%}
      {%endif%}
   <!--  -->
 
   {%if article.tags contains 'podcast'  %}
   {%if article.tags != 'customeronly'  %}
 
   <a href="{{article.url}}" class="leftlink"> Listen Podcast</a>
     {%endif%}
   {%endif%}
   {%if article.tags contains 'video'  %}
   {%if article.tags != 'customeronly'  %}
 
   <a href="{{article.url}}" class="leftlink"> Watch Video </a>
    
   {%endif%}
   {%endif%}
   {%if article.tags contains 'general'  %}
   {%if article.tags != 'customeronly'  %}
  
   <a href="{{article.url}}" class="leftlink"> Read Article</a>
 
   {%endif%} {%endif%}
 
 
    </div> 
          </div></div>
 
   </li>
  {%endfor%}</ul>
  </div>
</div>
</div>  
          </div> 
{% schema %}

{
  "name": "Cards",
  "class": "section",
  "settings": [
    {
      "type": "color",
      "id": "heading_color",
      "label": "Text Color",
      "default": "#FAFAFA"
    }, {
      "type": "color",
      "id": "heading_colors",
      "label": "Block Text Color",
      "default": "#FAFAFA"
    }, {
      "type": "color",
      "id": "section_bg",
      "label": "Section Bg",
      "default": "#000000"
    }, {
      "type": "color",
      "id": "card_bg",
      "label": "Card Background",
      "default": "#FAFAFA"
    }, {
      "type": "text",
      "id": "caption",
      "label": "t:sections.collapsible_content.settings.caption.label"
    }, {
      "type": "text",
      "id": "heading",
      "label": "t:sections.collapsible_content.settings.heading.label",
      "default": "Collapsible content"
    }, {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    }, {
      "type": "header",
      "content": "Section Layout"
    }, {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.rich-text.settings.color_scheme.options__1.label"
        }, {
          "value": "accent-2",
          "label": "t:sections.rich-text.settings.color_scheme.options__2.label"
        }, {
          "value": "background-1",
          "label": "t:sections.rich-text.settings.color_scheme.options__3.label"
        }, {
          "value": "background-2",
          "label": "t:sections.rich-text.settings.color_scheme.options__4.label"
        }, {
          "value": "inverse",
          "label": "t:sections.rich-text.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.rich-text.settings.color_scheme.label"
    }, {
      "type": "select",
      "id": "link_style",
      "options": [
        {
          "value": "h2",
          "label": "Heading "
        }, {
          "value": "p",
          "label": "Paragraph"
        }
      ],
      "default": "h2",
      "label": "Card Title - Font Size"
    }, {
      "type": "select",
      "id": "numberofcolumns",
      "label": "Number Of Columns",
      "options": [
        {
          "value": "260",
          "label": "4-Column"
        }, {
          "value": "360",
          "label": "3-Column"
        }
      ],
      "default": "260",
      "label": "Number of columns in one row"
    }, {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top Padding",
      "default": 0
    }, {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom Padding",
      "default": 0
    }, {
      "type": "range",
      "id": "spacing_cards",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Vertical Cards Spacing",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "Card",
      "name": "Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }, {
          "type": "url",
          "id": "link",
          "label": "Link"
        }, {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Card Title"
        }, {
          "type": "image_picker",
          "id": "iconimg",
          "label": "Icon"
        }, {
          "type": "liquid",
          "id": "description",
          "label": "Description"
        }, {
          "type": "article",
          "id": "article",
          "label": "Article"
        }, {
          "type": "text",
          "id": "linktext",
          "label": "Link Text",
          "default": "Read More"
        }, {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Cards"
    }
  ]
}

{% endschema %}

<style>
  .gaia-image {
  display: block;
  vertical-align: middle;
  object-fit: cover;
}
.gaia-image img {
  display: block;
  vertical-align: middle;
  object-fit: cover;
}
 
.blogsall {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 px;
} 
li {
  list-style: none;
}

#cat-filter {
    border-radius: 30px !important; 
    border-color: #6C1D45;
    border: 2px solid #6C1D45;
    width: 140px;
    height: 50px;
  }
  select,
  option {
    color: #6C1D45 !important;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
       background: url("https://cdn.shopify.com/s/files/1/0535/9357/1505/files/output-onlinepngtools_2.png?v=1656509123") no-repeat; background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance:none !important;
    -webkit-appearance: none !important; 
    appearance: none !important;
    padding-right: 2rem !important;
  }
  .leftlink {
    min-width: fit-content;
  }

  .jointo {
    display: flex; flex-direction: row;
    padding: 0;
    flex-direction: row;
    margin: 0;
    gap: 80%;
  }
</style>