{%- liquid
  assign cart_errors = ''
  if settings.cart_type == 'page'
    for item in cart.items
      assign quantity_excessed = false
      if item.variant.inventory_policy == 'deny' and item.variant.inventory_management != nil and item.variant.inventory_quantity < item.quantity
        assign quantity_excessed = true
      endif
   

      if quantity_excessed
        capture cart_errors
          echo cart_errors
          echo '<span class="cart__errors__product">' | append: item.title | append: '</span>'
        endcapture
      endif
    endfor
  endif
-%}

<div class="cart-section{% if cart.item_count == 0 %} cart-section--empty{% endif %}" data-cart-section>
  <div class="wrapper"> 
    <div class="cart-top"> 
    <h1 class="cart__title">Your Cart</h1> 
    <a href="{{ continue_shopping_link }}" class="continue-shopping" data-continue-shopping{% if settings.continue_shopping_link != blank %} data-custom-link{% endif %}>{{ 'cart.general.continue_shopping' | t }}</a>
  </div>

    <div class="cart__errors errors" data-cart-errors{% if cart_errors != blank %} style="display: block"{% endif %}>
      <p data-cart-errors-message>
        {%- if cart_errors != blank -%}
          {{ 'cart.general.limit_error' | t }}
          {{ cart_errors }}
        {%- endif -%}
      </p>

      <button class="cart__errors__close" type="button" aria-label="{{ 'general.accessibility.dismiss' | t }}" data-cart-errors-close>
        {%- render 'icon-close' -%}
      </button>
    </div>

    <div data-cart-form-container>
      {%- if cart.item_count > 0 -%}
        {%- render 'cart-items' -%}
      {%- else -%}
        {% comment %}
          The cart is empty
        {% endcomment %}
        <div class="text-center">
          <p>{{ 'cart.general.empty' | t }}</p>

          <p><a href="{{ routes.root_url }}" class="btn">{{ 'cart.general.continue_shopping' | t }}</a></p>
        </div>
      {%- endif -%}

      {%- for block in section.blocks -%}
        {%- render block -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Cart",
    "blocks": [
      {
        "type": "@app"
      }
    ]
  }
{% endschema %}

<style>
.cart__title {
font-weight: 700;
font-size: 50px;
line-height: 67px;
/* identical to box height */
color: #6C1D45;
padding-top: 50px;
padding-bottom: 50px;
}

.cart-section {
background: #FEFAFB;
padding-top: 50px;
}

.main-content > .shopify-section:not(.shopify-section--product):first-child:not(.transparent-header) {
padding-top: 0px !important
}

.cart-top {
display: flex;
width: 100%;
align-items: center;
justify-content: space-between;
flex-wrap: wrap;
}

a.continue-shopping {
text-decoration-line: underline;

text-underline-position: under;
color: #6C1D45;
}
</style>