<style>
  
</style>
{% assign menu = section.settings.menu%}
<style>

  @media only screen and (max-width: 1000px) {
    .accountnav {
      max-width: 500px!important;
    }

    .accountnav {
      position:  relative !important;
      display: flex;
      flex-direction: column;
      
    margin-left: 15% !important;
    }

    .customaccount-{{section.id}} {
      flex-direction: column-reverse;
    }
  }

.customaccount-{{section.id}} {
  display: flex;
  min-height: 100vh;
}

  .cf-app__checkboxes-direction--h .cf-app__checkbox {
    min-width: 250px;
  }
/* MENU STYLING GENERAL */
.accountnav {
  background: white;
  list-style: none;
  width: 300px;
  margin: auto;
  border-radius: 40px;
  overflow: hidden;
  position: fixed;
  margin-left: 50px;
  margin-top: 50px;
  filter: drop-shadow(0px 10px 30px rgba(108, 29, 69, 0.161));
}

li.active 
 {
  background-color: #FFD9E5;
  font-weight: 700;
  border-top: none !important;
  border: none !important;
  margin-bottom: -1px;
}
 


.accountnav ul {
  margin: 0;
  /* padding-left: 15px !important; */
  padding-bottom: 15px;
  /* padding-inline-start: 0 !important; */
}

.accountnav li {
  border-top: 1px solid #FEF1F5;
  list-style: none;
  padding-left: 40px !important;
  padding: 15px 0;
}
.accountnav li  a {
  color: #6C1D45 !important;
  font-size: 18px;
    margin-top: 10px !important;
    /* margin-left: 5px; */

}

.accountnav li:last-child {
  padding-bottom: 0px !important;
}

.menu-title {
  text-align: center;
  background-color: #EB6FBD; 
  color: white;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 15px;
}
.accountnav-wrapper {
  width: 500px;
  display: flex;
}
/* END MENU STYLING - GENERAL  */
.content-{{section.id}} {
  background:{{section.settings.bg}};
  width: 100%;
}

.cf-app__file-preview.has-file,.cf-app__file-preview-wrapper {visibility: hidden !important; display: none;}

.topbanner  * {
  max-height: 250px;
}
.topbanner  .gaia-image img {
  width: 100%;
}
.profilepicturewrapper {
  margin: auto;
  margin-top: -5%;
  display: flex;
  margin-bottom: 100px;
}
.profilepicture {
  margin: auto;
  border-radius: 50%;
  border:1px solid #6C1D45 !important;
  overflow: hidden;
}

/* FORM STYLING */
.cf-app__field input[type=text],
.cf-app__field textarea,
.cf-app__field input[type=email] {
  filter: drop-shadow(0px 3px 5px rgba(108, 29, 69, 0.161));
}

.grayregular {
  padding: 10px 0.5em;
}
.acfimg {
  /* display: none !important;  */
}

.cfradio .cf-app__field-label {
  margin-right: 10px;
  margin-bottom: 20px !important;
  min-width: 100%;
}
.cfradio {
  display: grid;
  grid-template-rows: 1fr 1fr;
  }
/* BUTTONS STYLING */
input[type="radio"]{
   appearance: none;
   border: 1px solid #9d9898;
   width: 15px;
   height: 15px;
   content: none;
   outline: none;
   margin: 0;
   border-radius: 0px !important;
   /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

input[type="radio"]:checked {
  appearance: none;
  outline: none;
  padding: 0;
  background-color: #6C1D45 !important;
  border: 1px solid rgb(227, 227, 227);
  border-radius: 0px !important;
  content: none;
  border: none;
}

input[type="radio"]:checked::before{
  position: absolute;
  color: #6C1D45 !important;
  border: 1px solid #e3dddd;
  font-weight: bolder;
  font-size: 21px;
}

.icon {
overflow: hidden;
  margin-top: 10px;
  margin-bottom: -15px !important;
  margin-right: 5px;}
</style>

<div class="customaccount-{{section.id}}"> 
<!-- MENU -->
<div class="accountnav-wrapper" style="background: {{section.settings.menu_bg}}"> 
<nav role="accountnav" class="accountnav">
  <h4 class="menu-title">  {{ menu.title }}  </h4>
  <ul>
    {%- for link in menu.links -%}
    <li  {% if link.active %}  class="active" {% endif %}>
      <div class="icon">
        {%if link.title contains 'Profile' %}
        {%render 'profileicon' %}{%endif%}
        {%if link.title contains 'Membership' %}
        {%render 'ms' %}{%endif%}
        {%if link.title contains 'Order' %}
        {%render 'orderhistory' %}{%endif%} 
        {%if link.title contains 'Logout' %}
        {%render 'logout' %}{%endif%} 
       </div>
      <a href="{{ link.url }}" {% if link.active %}aria-current="page" class="active"{% endif %}>
   
          {{ link.title }}
      
        </a>

        {%- if link.links != blank -%}
          <ul>
            {%- for child_link in link.links -%}
            <li  {% if link.active %}  class="active" {% endif %}>
                <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page" class="active"  style="background-color: #FFD9E5 !important;"{% endif %}>
                  {{ child_link.title }}
                </a>

                {%- if child_link.links != blank -%}
                  <ul>
                    {%- for grandchild_link in child_link.links -%}
                    <li  {% if link.active %}  class="active" {% endif %}>
                        <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page" class="active" style="background-color: #FFD9E5 !important;" {% endif %}>
                          {{ grandchild_link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}

              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}

      </li>
    {%- endfor -%}
  </ul>
</nav> 
<!-- endmenu -->
</div> 
<!-- endmenuwrapper --> 
 

<div class="content-{{section.id}}">
  {%if customer%}
  <div class="topbanner">
    {%render 'gaia-image',
    image: section.settings.banner_top 
    %}
   
    <div class="profilepicturewrapper"> 
     {%if  customer.metafields.cf_app.profile_image %}
     <img src="{{customer.metafields.cf_app.profile_image}}" alt="Gaia Goddess" width="170" height="170" class="profilepicture">
    
     {%endif%}
  
    </div>
    <div class="changeimg" 
    style=" background: url({{ 'changeimage.svg' | asset_url }}); 
    background-repeat:no-repeat;height:50px;
    margin-top: -150px;
    display: flex;
    width: 100%;
    margin-left: 53%;
    z-index: 99999999999999999 !important;">  
    </div>
 
  </div>  
   <div class="editform" style="
   min-height: max-content; padding: 100px 0 !important;
">

 <div class="form-vertical" style="padding:0 5px ;">
      <!-- <p class="registration-p">or use your email for registration:</p> -->
      
      {% include 'cf-app.customers.register' %}

    </div> 
   </div> 
   {%else%}
 
    <script>
// Simulate a mouse click:
window.location.href = "/account/register";

// Sim 
    </script>
   {%endif%}
</div>
 
</div>
 
{% schema %}
{
  "name": "Account",
  "class": "transparent-header",
  "settings": [
    {
      "type": "color",
      "id": "bg",
      "default": "transparent",
      "label": "Section Background"
    },{
      "type": "color",
      "id": "menu_bg",
      "label": "Menu Background",
      "default": "#FEF1F5"
    },
   {
    "type": "image_picker",
    "id": "banner_top",
    "label": "Banner"
   },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ],
  "blocks": [
    {
      "type": "Form",
      "name": "Form",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "text"
        }
      ]
    }
  ], "presets":[
  {
    "name":"Custom Account"
  }
]
}
{% endschema %}