<style>
  .wrapper-{{section.id}} {
    background: {{section.settings.bg}};
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    
  }
  
  
  .founderinfo {
    width: 50%;
  }
</style>


<div class="wrapper wrapper-{{section.id}}">
  
  <div class="img">
    {%render 'gaia-image'%,
    image: section.settings.image
    %}
    
  </div>
  
  <div class="founderinfo">
    
    <h1 class="header-{{section.id}}"> {{ section.settings.header }} </h1>
    <h3 class="name-{{section.id}}"> {{section.settings.name }} </h3>
       <subtitle class="center" style="margin-top: -4%;margin-bottom: 4%; color:#6C1D45;">{{section.settings.role}}</subtitle>
    <p> {{ section.settings.description }} </p>
    
  </div>
  
  
</div>



{% schema %}
{
  "name": "Founder",
  "settings": [
    {
      "type": "color",
      "id": "bg",
      "default": "transparent",
      "label": "Section Background"
    },
    {
      "type": "image_picker",
      "id": "image",
	  "label": "Image"
    },
    {
      "type": "text",
      "id": "header",
      "placeholder": "Our Founder",
      "label": "Header"
    },
    {
      "type": "text",
      "id": "name",
      "placeholder": "Maria Marshall",
      "label": "name"
    },
    {
      "type": "text",
      "id": "role",
      "placeholder": "Founder",
      "label": "Role"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    }

     ],
    "presets": [
      {
        "name": "Our Founder"
      }
    ]
  }
  {% endschema %}