<section class="supperco-banner-{{section.id}}" style="  background: {{section.settings.bg}};">
  <h1 class="center" style="color: {{section.settings.heading_color}};">
    {{section.settings.heading}}
  </h1>
  <p class="center rte">
    {{section.settings.text_content}}
  </p>
  <div class="gaia wrapper">
    {% for block in section.blocks %}

      <div class="gaiabimg {%if block.settings.dm == false %} visuallyhiddenm {% endif %}">
        {% render 'gaia-image'
          image: block.settings.image,
          mobile_image: block.settings.mobile_image
          %}

      </div>
    {% endfor %}
  </div>
</section>


<style>
  .gaia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 400px;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .gaiabimg {
    width: 60%;
    height: 100%;
  }

  .gaiabimg:last-of-type {
    width: 35%;
    height: 400px;
  }
  .gaiabimg .gaia-image img {
    height: 100%;
    width: 100%;
  }

  @media only screen and (max-width: 790px ) {
    .visuallyhiddenm {
      display: none;
    }
  .gaiabimg {
    width: 100%;
  }
  }
</style>

{% schema %}

{
  "name": "Gaia Banner",
  "class": "transparent-header",
  "max_blocks": 2,
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 40
    }, {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 52
    }, {
      "type": "header",
      "content": "Content Settings"
    }, {
      "type": "color",
      "id": "bg",
      "default": "#FEF1F5",
      "label": "Section Background"
    }, {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }, {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#6c1d45"
    }, {
      "type": "textarea",
      "id": "text_content",
      "label": "Content"
    }
  ],
  "blocks": [
    {
      "type": "Image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Desktop Image"
        }, {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        }, {
          "type": "checkbox",
          "id": "dm",
          "label": "Display On Mobile",
          "default": true
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gaia Custom Banner"
    }
  ]
}

{% endschema %}


<style>
  .supperco-banner-{{section.id}}{
    padding-top: {{section.settings.padding_top | times: 0.75 | round: 0}}px;
    padding-bottom: {{section.settings.padding_bottom | times: 0.75 | round: 0}}px;
  }

  @media screen and(min-width: 750px) {
    .supperco-banner-{{section.id}}}
  {
    padding-top: {{section.settings.padding_top}}px;
    padding-bottom: {{section.settings.padding_bottom}}px;
  }
}
</style>