
{% assign menu = section.settings.menu%}
<style>

.customaccount-{{section.id}} {
  display: flex;
  min-height: 100vh;
}

/* MENU STYLING GENERAL */
.accountnav {
  background: white;
  list-style: none;
  width: 300px;
  margin: auto;
  border-radius: 40px;
  overflow: hidden;
  /* position: fixed; */
  filter: drop-shadow(0px 10px 30px rgba(108, 29, 69, 0.161));
}
 
li.active 
 {
  background-color: #FFD9E5;
  font-weight: 700;
  border-top: none !important;
  border: none !important;
  margin-bottom: -1px;
}
 
 
.accountnav ul {
  margin: 0;
  /* padding-left: 15px !important; */
  padding-bottom: 15px;
  /* padding-inline-start: 0 !important; */
}

.accountnav li {
  border-top: 1px solid #FEF1F5;
  list-style: none;
  padding-left: 40px !important;
  padding: 15px 0;
}
.accountnav li  a {
  color: #6C1D45 !important;
  font-size: 18px;
}

.accountnav li:last-child {
  padding-bottom: 0px !important;
}

.menu-title {
  text-align: center;
  background-color: #EB6FBD; 
  color: white;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 15px;
}
.accountnav-wrapper {
  width: 25%;
  display: flex;
}
/* END MENU STYLING - GENERAL  */
.content-{{section.id}} {
  background:{{section.settings.bg}};
  width: 75%;
  align-self: center;
  margin-top: -100px;
}

.topbanner  * {
  max-height: 250px;
}
.topbanner  .gaia-image img {
  width: 100%;
}
.profilepicturewrapper {
  margin: auto;
  margin-top: -5%;
  display: flex;
  margin-bottom: 100px;
}
.profilepicture {
  margin: auto;
  border-radius: 50%;
  border:1px solid #6C1D45 !important;
  overflow: hidden;
}

/* FORM STYLING */
.cf-app__field input[type=text],
.cf-app__field textarea,
.cf-app__field input[type=email] {
  filter: drop-shadow(0px 3px 5px rgba(108, 29, 69, 0.161));
}

.grayregular {
  padding: 10px 0;
}
.acfimg {
  display: none !important; 
}
 .member-level {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: #FFD9E5;
    padding: 40px 0;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    filter: drop-shadow(10px -10px 20px rgba(108, 29, 69, 0.161));
 }

 .memberdeactivate {
  display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 50%;
    filter: drop-shadow(9px 10px 20px rgba(108, 29, 69, 0.161));
    background-color: white;
    /* padding: 40px 0; */
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
 }
 .icon {
overflow: hidden;
  margin-top: 10px;
  margin-bottom: -15px !important;
  margin-right: 5px;}
</style>

<div class="customaccount-{{section.id}}"> 
<!-- MENU -->
<div class="accountnav-wrapper" style="background: {{section.settings.menu_bg}}"> 
<nav role="accountnav" class="accountnav">
  <h4 class="menu-title">  {{ menu.title }}  </h4>
  <ul>
    {%- for link in menu.links -%}
      <li  {% if link.active %}  class="active" {% endif %}>  <div class="icon">
        {%if link.title contains 'Profile' %}
        {%render 'profileicon' %}{%endif%}
        {%if link.title contains 'Membership' %}
        {%render 'ms' %}{%endif%}
        {%if link.title contains 'Order' %}
        {%render 'orderhistory' %}{%endif%} 
        {%if link.title contains 'Logout' %}
        {%render 'logout' %}{%endif%} 
       </div>
        <a href="{{ link.url }}" {% if link.active %}aria-current="page" class="active"{% endif %}>
          {{ link.title }}
        </a>

        {%- if link.links != blank -%}
          <ul>
            {%- for child_link in link.links -%}
            <li  {% if link.active %}  class="active"{% endif %}>
                <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page" class="active"  style="background-color: #FFD9E5 !important;"{% endif %}>
                  {{ child_link.title }}
                </a>

                {%- if child_link.links != blank -%}
                  <ul>
                    {%- for grandchild_link in child_link.links -%}
                    <li  {% if link.active %}  class="active"{% endif %}>
                        <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page" class="active" style="background-color: #FFD9E5 !important;" {% endif %}>
                          {{ grandchild_link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}

              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}

      </li>
    {%- endfor -%}
  </ul>
</nav> 
<!-- endmenu -->
</div> 
<!-- endmenuwrapper --> 
 

<div class="content-{{section.id}}">
 
  {%if customer %}
  <div class="membership-info">
   <h4 class="maroonbold " style="width: 50%; margin: auto; padding: 10px 0;;">
      Current Membership

      <br>
      <br> <br>
     
   </h4>         
    <div class="member-level">
                <img src="{{section.settings.image | img_url: '100x'}}" style="
                width: 80px;
                height: 80px;
                object-fit: contain;
            ">
                
                <h1 class="maroonbold" style="
                margin: 10px 5px;"> Free Member </h1>
                
            <p>    {{ customer.account.created_at  }}
</p> </div>
   <div class="memberdeactivate">
    <p class="grayregular">
      Please click 
     <a href="/account/logout">here </a>  
      to cancel your active membership
    </p>
   </div>
  </div> 
  {%else%}
 
  <script>
// Simulate a mouse click:
window.location.href = "/account/register";

// Sim 
  </script>
 {%endif%}
</div>
  <!-- notmenu --> 
</div>
{% schema %}
{
  "name": "Membership Settings",
  "class": "transparent-header",
  "settings": [
    {
      "type": "color",
      "id": "bg",
      "default": "transparent",
      "label": "Section Background"
    },{
      "type": "color",
      "id": "menu_bg",
      "label": "Menu Background",
      "default": "#FEF1F5"
    },
   {
    "type": "image_picker",
    "id": "banner_top",
    "label": "Banner"
   },
  {
    "type": "image_picker",
    "id": "image",
    "label": "Membership Image"
  },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ],
  "blocks": [
    {
      "type": "Form",
      "name": "Form",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "text"
        }
      ]
    }
  ], "presets":[
  {
    "name":"Membership Settings"
  }
]
}
{% endschema %}