<div class="mp-{{section.id}}">
  
  <div class="imgwrapper-{{section.id}}">
  {%render 'gaia-image',
  	image: section.settings.image 
    %}
    </div>
  <h6 class="mpheader-{{section.id}}"> {{section.settings.header}} </h6>
  
  
</div>



<style>
  
  .mpheader-{{section.id}} {
  	margin: auto;
    text-align: center;
  }
  .imgwrapper-{{section.id}},   .imgwrapper-{{section.id}} .gaia-image {
    width: 120px;
    height: 120px;
    margin: auto;
  }
  
  .imgwrapper-{{section.id}}  .gaia-image img {
    display: block;
    vertical-align: middle;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 9px solid #5b2525;
    border-radius: 50%;
}
  
</style>


{% schema %}
{
  "name": "Membership Perks",
  "class": "section",
  "settings": [
    {
      "type": "color",
      "id": "bg",
      "default": "transparent",
      "label": "Section Background"
    },
    {
      "type": "image_picker",
      "id": "image",
   	  "label": "Image"
	},
    {
      "type": "textarea",
      "id": "header",
      "default": "Limited Time Free Membership",
      "label": "Header"
    }
  ],
  "blocks": [
    {
      "type": "Perk",
      "name": "Perk",
      "settings": [
        {
          "type": "image_picker",
          "id": "perkimage",
		   "label": "Perk Image"
        },
        {
          "type": "text",
          "id": "perktext",
          "default": "Access to Gaia's Content Library",
		  "label": "Perk Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gaia Membership Perks"
    }
  ]
}

{% endschema %}