
{% assign menu = section.settings.menu%}
<style>
  .desktop-order {
    height: 60px;
  }
  @media only screen and (max-width: 1000px) {
    .accountnav {
      max-width: 500px!important;
      position:  relative !important;
      display: flex;
      margin-bottom: 0 !important;
      margin-top: 0 !important;
      flex-direction: column;
      
    /* margin-left: 15% !important; */
    }
    .oh-{{section.id}} th:last-of-type { 
      border-top-right-radius: 0 !important;
    }
    .responsive-order td:first-of-type {
     /* border: 1px solid #EB6FBD; */
     /* border-bottom-left-radius: 30px; */
    }
    .responsive-order td{
      border-right-color: transparent !important;
    }
    .accountnav-wrapper {
  
      width: 100% !important;
      padding: 50px 0;
    }
    .wrapper .maroonbold {
      margin-top: 0px !important;
      text-align: center;
    }
    .profilepicturewrapper {
      margin-bottom: 0 !important;
    }
    .th, th a {
      color: white !important;
    }
    .content-{{section.id}} { 
      width: 100% !important;
      padding-bottom: 50px;
    }
    .content-{{section.id}} * {
      overflow: hidden !important;
      text-decoration: none !important;
    }
    .lineimage {
      flex-direction: column;
    }
    .accountnav {
      position:  relative !important;
      display: flex;
      flex-direction: column;
      
    margin-left: 15% !important;
    }

    .customaccount-{{section.id}} {
      flex-direction: column-reverse;
    }
  }

.customaccount-{{section.id}} {
  display: flex;
  min-height: 100vh;
}

.accountnav {

background: white;
  list-style: none;
  width: 300px;
  margin: auto;
  border-radius: 40px;
  overflow: hidden;
  position: fixed;
  margin-left: 4%;
  margin-top: 120px;
  margin-bottom: 500px;
  filter: drop-shadow(0px 10px 30px rgba(108, 29, 69, 0.161));

}

li.active 
{
background-color: #FFD9E5;
font-weight: 700;
border-top: none !important;
border: none !important;
margin-bottom: -1px;
}


.accountnav ul {
margin: 0;
/* padding-left: 15px !important; */
padding-bottom: 15px;
/* padding-inline-start: 0 !important; */
}

.accountnav li {
border-top: 1px solid #FEF1F5;
list-style: none;
padding-left: 40px !important;
padding: 15px 0;
}
.accountnav li  a {
color: #6C1D45 !important;
font-size: 18px;
}

.accountnav li:last-child {
padding-bottom: 0px !important;
}

.menu-title {
text-align: center;
background-color: #EB6FBD; 
color: white;
margin: 0;
padding-top: 20px;
padding-bottom: 15px;
}
.accountnav-wrapper {
/* width: 25%; */
min-width: 400px; width: 500px; display: flex; 
display: flex;
}
/* END MENU STYLING - GENERAL  */
.content-{{section.id}} {
  background:{{section.settings.bg}};

  width: 100%;
    overflow: hidden;
}

.topbanner  * {
  max-height: 250px;
}
.topbanner  .gaia-image img {
  width: 100%;
}
.profilepicturewrapper {
  margin: auto;
  margin-top: -5%;
  display: flex;
  margin-bottom: 100px;
}
.profilepicture {
  margin: auto;
  border-radius: 50%;
  border:1px solid #6C1D45 !important;
  overflow: hidden;
}

/* FORM STYLING */
.cf-app__field input[type=text],
.cf-app__field textarea,
.cf-app__field input[type=email] {
  filter: drop-shadow(0px 3px 5px rgba(108, 29, 69, 0.161));
}

.grayregular {
  padding: 10px 0;
}
.acfimg {
  display: none !important; 
}
 .member-level {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: #FFD9E5;
    padding: 40px 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /* border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px; */
    filter: drop-shadow(10px -10px 20px rgba(108, 29, 69, 0.161));
 }

 .memberdeactivate {
  display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 50%;
    filter: drop-shadow(9px 10px 20px rgba(108, 29, 69, 0.161));
    background-color: white;
    /* padding: 40px 0; */
    /* border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px; */
 }

 .oh-{{section.id}} {
  max-width: 90%;
  margin: auto; 
  /* filter: drop-shadow(0px 10px 30px rgba(108, 29, 69, 0.161)); */
    box-shadow: -1px 3px 10px 8px #eb6fbd0d;
    /* overflow: hidden; */

    /* border-bottom-left-radius: 20px; */
     border-bottom:none !important;  !important; 
    /* border-bottom-right-radius: 20px; */
 }

 .profilepicture {
  background: url({{ 'rose.svg' | asset_url }}); 
  background-size: cover;
}


 .full *  {
  overflow: hidden;
text-decoration: none;
 }
 .oh-{{section.id}} th {
  background-color: #EB6FBD;
  color: white;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  overflow: hidden;
 }
table {
  border-color: transparent !important;
  border-radius: 40px !important;
  /* filter: drop-shadow(0px 10px 30px rgba(108, 29, 69, 0.161)); */
}
 .customaccount-{{section.id}} table.full {
 
    overflow: hidden;   
border-radius: 40px !important;
/* 
  border-top-left-radius: 20px;
  border-top-right-radius: 20px !important; */
 }

 .table-wrap {
  overflow: hidden !important;
  border-radius:46px !important;
 }

 .oh-{{section.id}} th:first-of-type {
  border-top-left-radius: 20px;
  overflow: hidden;
  border-top-color: transparent !important
  margin-right: -20px;
 }
 .oh-{{section.id}} td:first-of-type {
  border-top-color: transparent !important;
 }
 .oh-{{section.id}} td:last-of-type {
  border-bottom-color: transparent !important;
 }
 .oh-{{section.id}} th:last-of-type {
  border-top-right-radius: 20px;
  margin-right: -20px;
 }

 .oh-{{section.id}} td, th {
  border-color: #FFD9E5;
  overflow: hidden;

 }
 .icon {
overflow: hidden;
  margin-top: 10px;
  margin-bottom: -15px !important;
  margin-right: 5px;}
</style>

<div class="customaccount-{{section.id}}"> 
<!-- MENU -->
<div class="accountnav-wrapper" style="background: {{section.settings.menu_bg}}"> 
<nav role="accountnav" class="accountnav">
  <h4 class="menu-title">  {{ menu.title }}  </h4>
  <ul>
    {%- for link in menu.links -%}
    <li  {% if link.active %}  class="active" {% endif %}>
      <div class="icon">
        {%if link.title contains 'Profile' %}
        {%render 'profileicon' %}{%endif%}
        {%if link.title contains 'Membership' %}
        {%render 'ms' %}{%endif%}
        {%if link.title contains 'Order' %}
        {%render 'orderhistory' %}{%endif%} 
        {%if link.title contains 'Logout' %}
        {%render 'logout' %}{%endif%} 
       </div>
        <a href="{{ link.url }}" {% if link.active %}aria-current="page" class="active"{% endif %}>
          {{ link.title }}
        </a>

        {%- if link.links != blank -%}
          <ul>
            {%- for child_link in link.links -%}
            <li  {% if link.active %}  class="active" {% endif %}>
                <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page" class="active"  style="background-color: #FFD9E5 !important;"{% endif %}>
                  {{ child_link.title }}
                </a>

                {%- if child_link.links != blank -%}
                  <ul>
                    {%- for grandchild_link in child_link.links -%}
                    <li  {% if link.active %}  class="active" {% endif %}>
                        <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page" class="active" style="background-color: #FFD9E5 !important;" {% endif %}>
                          {{ grandchild_link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}

              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}

      </li>
    {%- endfor -%}
  </ul>
</nav> 
<!-- endmenu -->
</div> 
<!-- endmenuwrapper --> 
 

<div class="content-{{section.id}}">
  <div class="topbanner">
    {%render 'gaia-image',
    image: section.settings.banner_top 
    %}
    {%if customer%}
    <div class="profilepicturewrapper"> 
    
     <img src="{{customer.metafields.cf_app.profile_image}}"  width="170" height="170" class="profilepicture">
  </div>
  {%endif%}
  </div>
<!-- order -->
 
 
 {%if customer %}
 
{% for order in customer.orders %}
{% if customer.orders.size <1  %}
<h1 class="wrapper maroonbold animate__animated animate__fadeInUp center " style="
margin: 50px 5px;" >At this moment, you have no orders. </h1>
<p class="wrapper maroonbold animate__animated animate__fadeInUp center " style="
margin: 50px 5px;" > Click <a href="/pages/events">  here </a>  to browse events.</p>
       {% endif %}
{% paginate customer.orders by 20 %}
{% if customer.orders.size != 0 %}
<h1 class="wrapper maroonbold animate__animated animate__fadeInUp" style="
margin: 50px 5px;">Order History </h1> 
  <div class="table-wrap oh-{{section.id}} animate__animated animate__fadeInUp" >
    <table class="full">
      <thead class="desktop-order">
        <tr>
          <th>{{ 'customer.orders.date' | t }}</th>
          <th>Order</th>
          <th> Order Number </th>
   
          <th>{{ 'customer.orders.total' | t }}</th>
          <th>Download Invoice</th>
          
        </tr>
      </thead>
      <tbody>
        {% for order in customer.orders %}
      
          <tr class="responsive-order">
            <th>{{ 'customer.orders.date' | t  | link_to: order.customer_url }}</th>
            <td>{{ order.created_at | date: format: 'month_day_year'  | link_to: order.customer_url }}</td>

            {% for line_item in order.line_items %}
            
              <th>{{ 'customer.order.product' | t }}</th>
              <td>   <div class="lineimage" style="
                display: flex;
                align-items: center;
                justify-content: space-evenly; gap: 5px;
            ">    {{ line_item.image | img_url: '100x100' | img_tag }} 
                <p  style="color: #6C1D45; font-weight: 700; text-decoration: none !important;">

                {{ line_item.title | strip_html | escape | link_to: line_item.product.url  | escape}}
                </p></div>
                {%endfor%}


            <th class="order-title">{{ 'customer.orders.order_number' | t }}</th>


            <td class="order-title">{{ order.name | link_to: order.customer_url }}
   </td>
        
   <th>{{ 'customer.orders.total' | t  | link_to: order.customer_url }}</th>
   <td>{{- order.total_price | money | link_to: order.customer_url -}}</td>
            <th>{{ 'customer.orders.payment_status' | t  | link_to: order.customer_url }}</th>
            <td> <div style="margin: 10px 0; display: flex; justify-content: center; flex-direction: row"><a href="https://api-pdf.vify.io/api/pdf-preview/invoice?shop_domain={{ shop.permanent_domain }}&order_id={{ order.id }}&locale=en" style="background-color: #6c1d45; 
              border-radius: 20px !important; border-color: #6c1d45; color: #fff; display:flex;padding:5px 15px;margin-bottom:0;font-size:14px;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px; margin-right: 10px; margin-top: 4px; align-self: center" target="_blank"> Download PDF</a></div>
        </td>
        
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
  <p>{{ 'customer.orders.none' | t }}</p>
{% endif %}

{% if paginate.pages > 1 %}
  {%- if settings.show_spacer_lines -%}
    <hr>
  {%- endif -%}
  <div class="pagination">
    {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
  </div>
{% endif %}
{% endpaginate %}
{%endfor%}
{%else%}
 
<script>
// Simulate a mouse click:
window.location.href = "/account/register";

// Sim 
</script>
{%endif%}
<!-- endorder -->
</div>
  <!-- notmenu --> 
</div>

{% schema %}
{
  "name": "Order History",
  "class": "transparent-header",
  "settings": [
    {
      "type": "color",
      "id": "bg",
      "default": "transparent",
      "label": "Section Background"
    },{
      "type": "color",
      "id": "menu_bg",
      "label": "Menu Background",
      "default": "#FEF1F5"
    },
   {
    "type": "image_picker",
    "id": "banner_top",
    "label": "Banner"
   },
  {
    "type": "image_picker",
    "id": "image",
    "label": "Membership Image"
  },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ],
  "blocks": [
    {
      "type": "Form",
      "name": "Form",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "text"
        }
      ]
    }
  ], "presets":[
  {
    "name":"Order History"
  }
]
}
{% endschema %}