<!-- /sections/featured-collections.liquid -->
{%- liquid
  assign columns = settings.products_per_row_on_desktop | plus: 1
  assign columns_small = columns | at_most: 2
  assign columns_mobile = settings.products_per_row_on_mobile | plus: 0
  assign layout = section.settings.products_layout
  assign bg_color = section.settings.bg_color

  assign carousel = false
  if layout == 'carousel'
    assign carousel = true
  endif

  case columns
    when 1
      assign size_desktop = 'one-whole'
    when 2
      assign size_desktop = 'one-half'
    when 3
      assign size_desktop = 'one-third'
    when 4
      assign size_desktop = 'one-quarter'
  endcase

  case columns_mobile
    when 1
      assign size_mobile = 'mobile--one-whole'
    when 2
      assign size_mobile = 'mobile--one-half'
  endcase

  if carousel == true
    assign size_mobile = 'mobile--one-whole'
  endif

  assign grid_mobile = ' grid--mobile'
	if section.settings.enable_slider
  	assign grid_mobile = ' grid--mobile-carousel'
	endif
-%}

{%- style -%}

{%- if bg_color != 'rgba(0,0,0,0)' and bg_color != '' -%}
  #FeaturedCollection--{{section.id}}{
    background-color: {{bg_color}};
  }
  #FeaturedCollection--{{section.id}}.product-grid-item {
    --bg: {{bg_color}};
  }
{%- endif -%}

@media screen and(min-width: 1024px) {
  #FeaturedCollection--{{section.id}}{
    --grid: repeat({{ columns }}, minmax(0, 1fr));
  }
}

@media screen and(min-width: 480px) and(max-width: 1023px) {
  #FeaturedCollection--{{section.id}}{
    --grid: repeat({{ columns_small }}, minmax(0, 1fr));
  }
}

@media screen and(max-width: 479px) {
  #FeaturedCollection--{{section.id}}{
    --grid-mobile: repeat({{ columns_mobile }}, minmax(0, 1fr));
  }
}

.healer-description,
.healer-events,
.healer-events-title {
  text-align: left;
}

.healer-events-title,
.healer-heading__subtitle {
  color: {{section.settings.healer_subtitle_color}};
}

.healer-heading {
  text-align: left;
}

.healer-heading {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.healer-heading__title {
  margin-bottom: 0;
  color: {{section.settings.healer_title_color}}}

.healer-heading__subtitle {
  margin: 0;
}

.healer-heading__icons {
  display: flex;
  align-items: center;
}

.social-circle {
  margin-right: 0;
  margin-left: 0;
}

.social-circle:last-child {
  margin-left: 5px;
}

.section__heading {
  color: {{section.settings.heading_color}};
  text-align: {{section.settings.heading_alignment}};
  font-weight: 700;
}

.wrapper-section__heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.healers-filter__dropdown {
  border-radius: 40px;
  border: 1px solid #6C1D45;
  width: 100%;
}

.healers-filter {
  width: 200px;
}

.healers-filter__dropdown {
  color: #6C1D45;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8, <svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.958984 1.323L7.32617 7.689L13.6919 1.323" stroke="%236C1D45" stroke-width="2"/></svg>');
  background-position: right 20px top 50%;
  background-repeat: no-repeat;
  background-size: 10px;
}


@media only screen and(max-width: 768px) {
  .section__heading {
    font-size: 30px;
  }

  .healers-filter {
    width: 150px;
display: none !important;
  }

  .grid--mobile-carousel {
    white-space: break-spaces;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media only screen and(min-width: 768px) and(max-width: 1024px) {
  .carousel {
    display: flex;
  }

{%- endstyle -%}

<section id="FeaturedCollection--{{ section.id }}" class="featured-collection featured-collection--{{ layout }}" data-section-id="{{ section.id }}" data-section-type="featured-collection">

  <div class="featured-collection__title">
    <!-- <div class="wrapper" style="max-width: 80%; margin: auto;"> -->
      <div class="wrapper-section__heading" style="max-width:80%; margin:auto; padding: 0 7%;">
        <h2 class="section__heading">{{ section.settings.heading }}</h2>

        {%- if settings.show_spacer_lines -%}
          <hr>
        {%- endif -%}

        {% if section.settings.show_filter %}
          <div class="healers-filter">
            <select class="healers-filter__dropdown" id="category" name="category">
              <option disabled selected>Category</option>
              <option value="yoga">Yoga</option>
              <option value="meditation">Meditation</option>
              <option value="reiki">Reiki</option>

            </select>
          
        {% endif %}
        <div class="filterino" style="display:flex; flex-wrap: wrap;"> 
        {%for block in section.blocks %}   
        {% case block.type %}
   
        {%when 'Filter'%}
          <div class="healers-filter healers-filter-{{section.id}}" style="margin:0 5px ;">
            <select class="healers-filter__dropdown" id="category" name="category">
              <option disabled selected>{{block.settings.filtername}}</option>
              <option value="{{block.settings.filteroption}}">{{block.settings.filteroption}}</option>


            </select>
          </div> 
          {%endcase%} 
        {% endfor %}</div> </div>
      </div>
    </div>
  </div>

  <div class="wrapper" style="padding-bottom: 100px;">
    <div class="featured-collection__container {% if carousel %}carousel__container{% else %}grid_container{% endif %}"  style="padding-bottom: 100px;">
      <div class="{% if carousel %}carousel{% else %}grid{{ grid_mobile }}{% endif %}" {% if carousel %} data-collection-slider {% endif %}   >
        {% for block in section.blocks %}
            {% case block.type %}
        {%when 'collection'%}
          {% assign collection = collections[block.settings.collection] | default: false %}

          <div class="healer-card{% if carousel %} carousel__item{% endif %} {{ size_desktop }} {{ size_mobile }}" style="max-width:350px;">
            <img alt="Healer card image" src="{{ collection.featured_image | img_url: 'master' }}" {% if lazy_loading == true %} loading="lazy" {% endif %} width="" height="">

            <div class="healer-heading">
              <div class="healer-heading__info">
                <h3 class="healer-heading__title">{{ collection.title }}</h3>
                <p class="healer-heading__subtitle" style="font-size: 18px;">{{ block.settings.healer_subtitle }}</p>
              </div>

              <div class="healer-heading__icons">
                {% if block.settings.show_instagram_icon %}
                  <a target="_blank" rel="noopener" class="social-circle facebook" href="{{ block.settings.social_instagram_link }}" title="{{ 'general.accessibility.facebook_share' | t }}">
                    {%- render 'healer-insta' -%}
                  </a>
                {% endif %}

                {% if block.settings.show_website_icon %}
                  <a target="_blank" rel="noopener" class="social-circle facebook" href="{{ block.settings.social_website_link }}" title="{{ 'general.accessibility.facebook_share' | t }}">
                    {%- render 'healer-website' -%}
                  </a>
                {% endif %}
              </div>
            </div>

            <p class="healer-description">{{ collection.description }}</p>

            <p class="healer-events-title">Upcoming events</p>
            <p class="healer-events">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              {% comment %} Add products on the upcoming events
              {% for product in collection.products %}
                {{ product.title }}
              {% endfor %}
            {% endcomment %}
            </p>
          </div>
          <!-- dzenana -->

          {%when 'product'%}
         
       {%assign product = block.settings.product %}
       <div class="featured-collection__container {% if carousel %}carousel__container{% else %}grid_container{% endif %}" >
        <div class="{% if carousel %}carousel{% else %} {{ grid_mobile }}{% endif %}" {% if carousel %} data-collection-slider {% endif %}   >
      
          <div class="healer-card{% if carousel %} carousel__item{% endif %} {{ size_desktop }} {{ size_mobile }}">
            <img alt="Healer card image" src="{{ block.settings.imagef | img_url: 'master' }}" {% if lazy_loading == true %} loading="lazy" {% endif %} width="428" height="300px" object-fit="cover" style="object-fit:cover;">

            <div class="healer-heading">
              <div class="healer-heading__info">
 
                <h3 class="ptitle" style="font-size: 18px;">{{ block.settings.healer_subtitle }}</h3>
              </div> 
  
            </div> <p class="pad">  
{{product.metafields.my_fields.place_and_date}} </p>

            <p class="pdesc">{{ collection.description }}</p>

 
            <p class="healer-events">
                  {{product.metafields.my_fields.short_description}}
              {% comment %} Add products on the upcoming events
              {% for product in collection.products %}
                {{ product.title }}
              {% endfor %}
            {% endcomment %}
            </p> 
      <p class="hb">      Hosted by     <br> <p class="hbm">    {{product.metafields.my_fields.hosted_by}}  </p></p>
      <br> 
     <a  class="gbtn btn btn--product-feature" href="{{product.url}}"
       style="float: left;">Register Now</a>  
          </div>
 </div> </div>
{%endcase%}
        {% endfor %}


      </div>
    </div>

  </div> </section>
</section>

{% schema %}

{
  "name": "Featured healers",
  "settings": [
    {
      "type": "header",
      "content": "Heading"
    }, {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Our Healers"
    }, {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#6C1D45"
    }, {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        }, {
          "value": "center",
          "label": "Center"
        }, {
          "value": "right",
          "label": "Right"
        }
      ]
    }, {
      "type": "checkbox",
      "id": "show_filter",
      "label": "Show collection filter",
      "default": true
    }, {
      "type": "select",
      "id": "products_layout",
      "label": "Layout",
      "info": "Product images slideshow will be disabled if layout is set to Carousel.",
      "default": "grid",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        }, {
          "value": "carousel",
          "label": "Carousel"
        }
      ]
    }, {
      "type": "header",
      "content": "Colors"
    }, {
      "type": "color",
      "id": "bg_color",
      "label": "Background"
    }, {
      "type": "color",
      "id": "healer_title_color",
      "label": "Healer Title Color"
    }, {
      "type": "color",
      "id": "healer_subtitle_color",
      "label": "Healer Subtitle Color"
    }, {
      "type": "header",
      "content": "Mobile slider"
    }, {
      "type": "checkbox",
      "id": "enable_slider",
      "label": "Enable slider",
      "default": true,
      "info": "Horizontal slider in mobile layout."
    }
  ],
  "blocks": [
    {
      "name": "Filter  ",
      "type": "Filter",
      "settings": [
        {
          "type": "text",
          "id": "filtername",
          "label": "Filter Name"
        }, {
          "type": "text",
          "id": "filteroption",
          "label": "Filter Option"
        }
      ]
    }, {
      "name": "Featured Collection",
      "type": "collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Healer"
        }, {
          "type": "text",
          "id": "healer_subtitle",
          "label": "Healer Subtitle"
        }, {
          "type": "checkbox",
          "id": "show_instagram_icon",
          "label": "Show instagram",
          "default": true
        }, {
          "type": "text",
          "id": "social_instagram_link",
          "label": "Facebook"
        }, {
          "type": "checkbox",
          "id": "show_website_icon",
          "label": "Show Webpage",
          "default": true
        }, {
          "type": "text",
          "id": "social_website_link",
          "label": "Page"
        }
      ]
    }, {
      "name": "Product",
      "type": "product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Event"
        }, {
          "type": "text",
          "id": "healer_subtitle",
          "label": "Event Subtitle"
        }, {
          "type": "text",
          "id": "description",
          "label": "Description"
        }, {
          "type": "image_picker",
          "id": "imagef",
          "label": "Image"
        }, {
          "type": "text",
          "id": "hostedby",
          "label": "Hosted By"
        }, {
          "type": "text",
          "id": "placedate",
          "label": "Date and Place"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured healers",
      "category": "Collection"
    }
  ]
}

{% endschema %}
<style>

  .pad  {font-family: 'Acumin Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
text-align: left;
margin: 0;
padding: 0;
color: #EB6FBD;
}

.ptitle {font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
margin: 0;
color: #6C1D45;
}

.pdesc {font-family: 'Acumin Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
margin: 0;
padding: 0;

color: #575757;
}

.hb {
  font-family: 'Acumin Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
text-align: left;
color: #EB6FBD;

}

.hbm {
  font-size: 16px;
line-height: 19px;
text-align: left;
font-weight: 800;
color: #6C1D45;
}

.btntext {
  font-family: 'Acumin Pro';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #6C1D45;
}
.healer-card .one-quarter .mobile--one-whole * {
  text-align: left;
}

@media only screen and (max-width: 900px) {
  .filterino {
    display: none !important;
  }

  .healer-card .one-quarter .mobile--one-whole {
    display: flex !important;
    flex-direction: column !important;
    margin-top: 40px !important;
    padding-top: 50px !important;
  }
  .mobile--one-whole {
    width: calc(100vw - var(--gutter) * 2 - var(--grid-gutter));
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    margin: auto;
}
 
   .healers-filter-{{section.id}},
   .healers-filter-{{block.id}}},
    .healers-filter__dropdown {
display: none !important;
}
}


</style>